{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Холбоос</th>
					<th scope="col">Нэр</th>
					<th scope="col">Тоо ширхэг</th>
					<th scope="col">Хэмжээ</th>
					<th scope="col">Өнгө</th>
					<th scope="col">Огноо</th>
					<th scope="col">Үнэ</th>
					<th scope="col">Төлөв</th>
					<th scope="col">Үйлдэл</th>
				</tr>
			</thead>

			<tbody>
				{% for order in object_list %}
				<tr> 
					<td>{{ order.order_no }}</td>
					<td><a href="{{ order.url }}" class="btn btn-success btn-sm" target="_">_</a></td>
					<td>{{ order.product_name }}</td>
					<td>{{ order.product_count }}</td>
					<td>{{ order.size }}</td>
					<td>{{ order.color }}</td>
					<td>{{ order.created_date|date:"Y-m-d H:i" }}</td>
					<td>{{ order.get_cost }}</td>
					<td>{{ order.status }}</td>
					<td>
						<form method="post" action="{% url 'order:delete' order.id %}">
							{% csrf_token %}
							<input type="submit" value="Устгах" class="btn btn-danger btn-sm">
						</form>
					</td> 
				</tr>
				{% empty %}
				<p>Хоосон байна. <a href="{% url 'order:create' %}" class="btn btn-info">Шинээр захиалах</a></p>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}